<form name="form" class="form-horizontal" role="form">
  <fieldset>
    <legend>Thông tin chuyến bay</legend>
    <div class="form-group">
        <label class="col-sm-2 control-label">Chuyến bay</label>
        <div class="col-sm-10">
          <select class="form-control" ng-model="vietjet.direction">
            <option value="2">Khứ hồi</option>
            <option value="1">Một chiều</option>
          </select>
        </div>
      </div>
  </fieldset>
  <fieldset ng-repeat="adult in vietjet.adults">
      <legend>Người lớn {{$index + 1}} <button type="button" class="btn btn-danger btn-xs" ng-click="removeAdult($index)">Xóa</button></legend>
      <div class="form-group">
        <label class="col-sm-2 control-label">Quý danh</label>
        <div class="col-sm-10">
          <select class="form-control" name="gender" ng-model="adult.gender" required>
            <option value=""></option>
            <option value="M">Ông</option>
            <option value="F">Bà/Cô</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Họ</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="lastName" ng-model="adult.lastName" placeholder="Nguyen">
        </div> 
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Tên đệm & tên</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="firstName" ng-model="adult.firstName" placeholder="Thi Bao Thu">
        </div>
      </div>
      <div class="form-group" ng-if="$index < 1">
        <label class="col-sm-2 control-label">Địa chỉ</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="address" ng-model="adult.address" required>
        </div>
      </div>
      <div class="form-group" ng-if="$index < 1">
        <label class="col-sm-2 control-label">Tỉnh</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" name="province" ng-model="adult.province" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Di động</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="mobilePhone" ng-model="adult.mobilePhone" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" name="email" ng-model="adult.email" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Hành lí chiều đi</label>
        <div class="col-sm-10">
          <select class="form-control" ng-model="adult.bag1">
            <option value="0">Không</option>
            <option value="1">Giói 15kgs</option>
            <option value="2">Gói 20kgs</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-if="vietjet.direction == 2">
        <label class="col-sm-2 control-label">Hành lí chiều về</label>
        <div class="col-sm-10">
          <select class="form-control" ng-model="adult.bag2">
            <option value="0">Không</option>
            <option value="1">Giói 15kgs</option>
            <option value="2">Gói 20kgs</option>
          </select>
        </div>
      </div>
  </fieldset>
  <fieldset ng-repeat="child in vietjet.children">
    <legend>Trẻ em {{$index + 1}} <button type="button" class="btn btn-danger btn-xs" ng-click="removeChild($index)">Xóa</button></legend>
    <div class="form-group">
      <label class="col-sm-2 control-label">Họ</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="lastName" ng-model="child.lastName" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Tên đệm & tên</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="firstName" ng-model="child.firstName" required>
      </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Hành lí chiều đi</label>
        <div class="col-sm-10">
          <select class="form-control" ng-model="child.bag1">
            <option value="0">Không</option>
            <option value="1">Giói 15kgs</option>
            <option value="2">Gói 20kgs</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-if="vietjet.direction == 2">
        <label class="col-sm-2 control-label">Hành lí chiều về</label>
        <div class="col-sm-10">
          <select class="form-control" ng-model="child.bag2">
            <option value="0">Không</option>
            <option value="1">Giói 15kgs</option>
            <option value="2">Gói 20kgs</option>
          </select>
        </div>
      </div>
  </fieldset>  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-success" ng-click="addAdult()">Thêm người lớn</button>
      <button type="button" class="btn btn-success" ng-click="addChild()">Thêm trẻ em</button>
    </div>
  </div>
  <fieldset>
    <legend>Chọn chỗ ngồi</legend>
    <span class="help-block">Lưu ý: Tại bước đặt ghế ngồi, bạn phải tự chọn ghế.</span>
  </fieldset>
  <fieldset>
    <legend>Thanh toán</legend>
    <div class="form-group">
      <label class="col-sm-2 control-label" ng-model="vietjet.child.title">Phương thức</label>
      <div class="col-sm-10">
          <select class="form-control">
            <option value="visa">VISA</option>
          </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Mã thẻ</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="vietjet.cardNumber" />
      </div>
    </div>   
    <div class="form-group">
      <label class="col-sm-2 control-label">Tháng hết hạn</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="vietjet.expiryMonth" placeholder="07" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Năm hết hạn</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="vietjet.expiryYear" placeholder="2018" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">CVC</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="vietjet.cardCVC" placeholder="023" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Chủ thẻ</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="vietjet.cardName" placeholder="Nguyen Van A" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Địa chỉ</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="vietjet.cardAddress" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Thành phố</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="vietjet.cardCity" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Điện thoại</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="vietjet.cardPhone" />
      </div>
    </div>
  </fieldset>
  <div class="form-group">
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="generate();" id="viejetair-autocomplete-generator">Tạo đặt vé</button>
      <a type="button" style="margin-top: 10px; cursor: move;" class="btn btn-lg btn-success btn-block" ng-if="generatedCode" ng-href="{{generatedCode}}">Kéo vào thanh bookmark</a>
    </div>
  </div>
</form>